{% extends './index.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <div>                
                <form method="post">
                    <h3>Forgot your password?</h1>
                    <h3>Please enter your email</h3>
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                            <label>{{ field.label }}</label>
                                {{ field|add_class:"form-control"|attr:"placeholder:Enter your email"|attr:"name:email" }}
                                
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{field.errors}}
                                </div>
                            {% endif %}
                        {% endfor %}
                                
                    </div>
                    <button id="button" type="submit" class="btn btn-primary btn-block" disabled="">Send password reset email</button>
                </form>
            </div>
        </div>
    </div>

    <script>
            email = document.querySelector('input[name="email"]')
            email.addEventListener("change", (e)=>{
                if (e.target.value){
                    button.disabled=false
                    button.className = 'btn btn-primary btn-block'
                }
                else {
                    button.disabled=true
                    button.className ='disabled-btn btn btn-primary btn-block'
                }
            }) 
    </script>
{% endblock %}