{% extends './index.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <div>                
                <form method="post">
                    <h3>Enter a new Password</h1>
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                            <label>{{ field.label }}</label>
                            {% if forloop.first %}
                                {{ field|add_class:"form-control"|attr:"placeholder:Enter a new password"|attr:"name:password" }}
                            {% else %}   
                                {{ field|add_class:"form-control"|attr:"placeholder:Confirm password"|attr:"name:confirm" }}
                            {% endif %}

                            {% if field.errors %}
                                <div class="alert alert-danger error">
                                    {{field.errors}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
        
                    <button id="button" type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                </form>
            </div>
        </div>
    </div>

    <script>
            email = document.querySelector('input[name="password"]')
            email.addEventListener("change", (e)=>{
                if (e.target.value){
                    button.disabled=false
                    button.className = 'btn btn-primary btn-block'
                }
                else {
                    button.disabled=true
                    button.className ='disabled-btn btn btn-primary btn-block'
                }
            }) 
    </script>
{% endblock %}